<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <nav class="topbar">
        <div id="topbar_greet">
            <h1 id="topbar_title">coffeenews.</h1>
        </div>
        <div id="menu_line">
            <ul>
                <li class="menu-buttons"><a href="">hot-news</a></li>
                <li class="menu-buttons"><a href="">categories</a></li>
                <li class="menu-buttons"><a href="">papers</a></li>
                <li class="menu-buttons"><a href="">about</a></li>
            </ul>
        </div>           
    </nav>
    <main class="psuedo-cont">
        <div class="article-cont">
            <div class="header-cont">
                <h1 class="article-header">ivamus egestas hendrerit velit, eu sollicitudin ante dictum at.</h1>
            </div>
            <article class="article-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non maximus tellus. Aenean aliquam, felis sed pulvinar porta, libero lorem eleifend ligula, et auctor urna sem ut ligula. Vivamus blandit bibendum efficitur. Vivamus egestas hendrerit velit, eu sollicitudin ante dictum at. In sollicitudin quam iaculis maximus ultrices. Donec vulputate risus tempor, pretium turpis auctor, auctor leo. Praesent pellentesque ac eros ac imperdiet. In sed metus metus.
            </article>
            <div class="article-footer">
                <ul>
                    <li class="article-date">16/02/2023</li>
                    <li class="article-authors">John Doe, Jane Doe</li>
                    <li class="article-source">Sözcü Gazetesi</li>
                </ul>
            </div>
        </div>
        <div class="article-cont">
            <div class="header-cont">
                <h1 class="article-header">ivamus egestas hendrerit velit, eu sollicitudin ante dictum at.</h1>
            </div>
            <article class="article-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non maximus tellus. Aenean aliquam, felis sed pulvinar porta, libero lorem eleifend ligula, et auctor urna sem ut ligula. Vivamus blandit bibendum efficitur. Vivamus egestas hendrerit velit, eu sollicitudin ante dictum at. In sollicitudin quam iaculis maximus ultrices. Donec vulputate risus tempor, pretium turpis auctor, auctor leo. Praesent pellentesque ac eros ac imperdiet. In sed metus metus.
            </article>
            <div class="article-footer">
                <ul>
                    <li class="article-date">16/02/2023</li>
                    <li class="article-authors">John Doe, Jane Doe</li>
                    <li class="article-source">Sözcü Gazetesi</li>
                </ul>
            </div>
        </div>
        <div class="article-cont">
            <div class="header-cont">
                <h1 class="article-header">ivamus egestas hendrerit velit, eu sollicitudin ante dictum at.</h1>
            </div>
            <article class="article-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non maximus tellus. Aenean aliquam, felis sed pulvinar porta, libero lorem eleifend ligula, et auctor urna sem ut ligula. Vivamus blandit bibendum efficitur. Vivamus egestas hendrerit velit, eu sollicitudin ante dictum at. In sollicitudin quam iaculis maximus ultrices. Donec vulputate risus tempor, pretium turpis auctor, auctor leo. Praesent pellentesque ac eros ac imperdiet. In sed metus metus.
            </article>
            <div class="article-footer">
                <ul>
                    <li class="article-date">16/02/2023</li>
                    <li class="article-authors">John Doe, Jane Doe</li>
                    <li class="article-source">Sözcü Gazetesi</li>
                </ul>
            </div>
        </div>
        <div class="article-cont">
            <div class="header-cont">
                <h1 class="article-header">ivamus egestas hendrerit velit, eu sollicitudin ante dictum at.</h1>
            </div>
            <article class="article-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non maximus tellus. Aenean aliquam, felis sed pulvinar porta, libero lorem eleifend ligula, et auctor urna sem ut ligula. Vivamus blandit bibendum efficitur. Vivamus egestas hendrerit velit, eu sollicitudin ante dictum at. In sollicitudin quam iaculis maximus ultrices. Donec vulputate risus tempor, pretium turpis auctor, auctor leo. Praesent pellentesque ac eros ac imperdiet. In sed metus metus.
            </article>
            <div class="article-footer">
                <ul>
                    <li class="article-date">16/02/2023</li>
                    <li class="article-authors">John Doe, Jane Doe</li>
                    <li class="article-source">Sözcü Gazetesi</li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>